{% extends 'base.html' %}

{% block alumnos %}

{% if alumnos %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">direccion</th>
            <th scope="col">telefono</th>
            <th scope="col">correo</th>
            <th scope="col">grupos</th>

        </tr>
        </thead>

        {% for i in alumnos %}
        
        <tbody>
            <tr class="table-active">
            <th scope="row">{{i.id}}</th>
            <td>{{i.nombre}}</td>
            <td>{{i.direccion}}</td>
            <td>{{i.telefono}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.idgrupos}}</td>
            </tr>
            <tr>
        </tbody>
    {% endfor %}
  </table>

{% else %}
<h1>No Existen Registros</h1>
{% endif %}
  <a href="{% url 'create' %}" class="btn btn-primary">AÑADIR</a>
{% endblock alumnos %}